<h1>
  List of all actors
</h1>

<hr>

<form action="/insert_actor" method="post">
  <div>
    <label for="name_box">Title</label>
    <input id="name_box" type="text" name="query_name">
  </div>
  <div>
    <label for="year_box">Year</label>
    <input type="text" name="query_year" id="year_box">
  </div>
  <div>
    <label for="duration_box">Duration</label>
    <input type="text" name="query_duration" id="duration_box">
  </div>
  <div>
    <label for="description_box">Description</label>
    <textarea name="query_description" id="description_box" rows="3"></textarea>
  </div>
  <div>
    <label for="image_box">Image</label>
    <input type="text" name="query_image" id="image_box">
  </div>
  <div>
    <label for="director_id_box">Director ID</label>
    <input type="text" name="query_director" id="director_id_box">
  </div>

  <button>Create movie</button>
</form>

<hr>

<table border="1">
  <tr>
    <th>
      ID
    </th>

    <th>
      Image
    </th>

    <th>
      Name
    </th>

    <th>
      Dob
    </th>

    <th>
    </th>
  </tr>

  <% @list_of_actors.each do |an_actor| %>
  <tr>
    <td>
      <%= an_actor.id %>
    </td>

    <td>
      <img src="<%= an_actor.image %>" style="width:250px;">
    </td>

    <td>
      <%= an_actor.name %>
    </td>

    <td>
      <%= an_actor.dob %>
    </td>

    <td>
      <a href="/actors/<%= an_actor.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
